@charset "UTF-8";
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro.eot?") format("eot"), url("../fonts/GothamPro.otf") format("opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg"); }

@font-face {
  font-family: 'GothamPro';
  font-weight: 300;
  src: url("../fonts/GothamPro-Light.eot?") format("eot"), url("../fonts/GothamPro-Light.otf") format("opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg"); }

@font-face {
  font-family: 'GothamPro';
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium.otf") format("opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg"); }

@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  src: url("../fonts/GothamPro-Bold.eot?") format("eot"), url("../fonts/GothamPro-Bold.otf") format("opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg"); }

@font-face {
  font-family: 'GothamPro';
  font-weight: 900;
  src: url("../fonts/GothamPro-Black.eot?") format("eot"), url("../fonts/GothamPro-Black.otf") format("opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg"); }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?21411419");
  src: url("../fonts/icons.eot?21411419#iefix") format("embedded-opentype"), url("../fonts/icons.woff2?21411419") format("woff2"), url("../fonts/icons.woff?21411419") format("woff"), url("../fonts/icons.ttf?21411419") format("truetype"), url("../fonts/icons.svg?21411419#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?21411419#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angle-down:before {
  content: '\e800'; }

/* '' */
.icon-arrow-down:before {
  content: '\e801'; }

/* '' */
.icon-check:before {
  content: '\e802'; }

/* '' */
/* ELEMENTS */
html,
body {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #ffffff;
  color: #032141;
  font-family: "GothamPro", sans-serif;
  font-size: 1.8rem;
  line-height: 1.33333em; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

small {
  font-size: 0.77778em; }

a {
  color: inherit; }
  a:hover {
    color: #ffba00; }

p {
  margin: 2.5rem 0; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  letter-spacing: -0.001em; }

table {
  border: 1px solid #000000;
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 2.5rem 0;
  width: 100%; }

td,
th {
  border: 1px solid #000000;
  border-width: 0 1px 1px 0;
  padding: 0.75rem 1.5rem;
  text-align: left; }

h1,
h2,
h3,
h4 {
  color: #032141;
  font-family: "GothamPro", sans-serif;
  font-weight: bold;
  line-height: 1.42857em;
  text-transform: uppercase; }

h5,
h6 {
  color: #032141;
  font-family: "GothamPro", sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h1,
.h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  line-height: 1.14583em;
  margin: 0.958334em 0; }
  @media (min-width: 992px) {
    h1,
    .h1 {
      font-size: 4.8rem; } }

h2,
.h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.25em; }
  @media (min-width: 768px) {
    h2,
    .h2 {
      font-size: 4.8rem; } }

h3,
.h3 {
  font-size: 3.4rem;
  font-weight: normal;
  line-height: 1.33334em;
  margin: 0.764706em 0;
  text-transform: none; }

h4,
.h4 {
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.66667em;
  text-transform: none;
  text-align: center; }

h5,
.h5 {
  font-size: 2.1rem;
  line-height: 1.14286em;
  font-weight: 500;
  margin: 1.428571 auto; }

h6,
.h6 {
  font-size: 1.75rem;
  line-height: 1.42857em; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
select {
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 4, 2, 0.75);
          box-shadow: inset 1px 1px 1px 0px rgba(0, 4, 2, 0.75);
  color: #032141;
  font-family: "GothamPro", sans-serif;
  font-size: 1.3rem;
  height: 3.4rem;
  line-height: 1em;
  padding: 0.5em 0.9em;
  width: 100%; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5"><path d="M1532.44,500.81q1.71-1.92,3.41-3.841c0.47-.527-0.29-1.314-0.76-0.784l-3.03,3.418-3.15-3.435c-0.47-.522-1.24.264-0.76,0.784,1.18,1.286,2.35,2.572,3.53,3.858A0.527,0.527,0,0,0,1532.44,500.81Z" fill="%23424242" transform="translate(-1528 -496)"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%; }

.color-brand1 {
  color: #ffba00; }

.color-brand2 {
  color: #68a625; }

.color-decor {
  color: #cdb47b; }

.color-custom-1 {
  color: #fcc508; }

.color-custom-2 {
  color: #ffba00; }

.color-custom-3 {
  color: #fda118; }

.color-custom-3 {
  color: #68a625; }

.color-error {
  color: #681926; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.text-small {
  font-size: 0.77778em; }

.margin-top-0 {
  margin-top: 0; }

.padding-top-15 {
  padding-top: 1.5rem; }

/* Blocks */
.site {
  min-height: 100rem; }

.site__wrapper {
  overflow: hidden; }

.site__width {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  width: auto; }
  @media (min-width: 768px) {
    .site__width {
      margin-left: auto;
      margin-right: auto;
      max-width: 95%;
      padding-left: 0;
      padding-right: 0;
      width: 1170px; } }

@media (min-width: 768px) {
  .site__width--fullwidth {
    max-width: 100%;
    width: 100%; } }

.site--bg {
  background-image: url(../img/site-bg.jpg);
  background-repeat: repeat;
  -webkit-background-size: 200px 200px;
          background-size: 200px 200px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .site--bg {
      background-image: url(../img/site-bg@2x.jpg); } }

.header__media {
  background-color: #282828;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%; }
  @media (min-width: 768px) {
    .header__media {
      display: block; } }

.header__media-content {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 5rem 0; }
  @media (min-width: 768px) {
    .header__media-content {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; } }

.header__navigation {
  padding-bottom: 0.7rem;
  padding-top: 0.8rem; }

.header__logo {
  display: inline-block;
  margin: 0;
  vertical-align: top; }

.header__title {
  position: relative;
  text-shadow: 0px 5px 7px rgba(0, 4, 2, 0.89);
  z-index: 1; }

.header__title--media {
  color: inherit; }

@media (min-width: 768px) {
  .header__form {
    margin-top: 5.2rem;
    max-width: 32rem;
    position: relative;
    z-index: 1; } }

@media (min-width: 768px) {
  .header__form-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.header__slider {
  position: relative; }

@media (min-width: 768px) {
  .header__slider-title {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; } }

.swiper {
  height: 69.5rem;
  z-index: 0; }

.swiper__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.swiper__caption {
  bottom: 11.3rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1; }

.swiper__nav {
  bottom: 3.3rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3; }

.swiper__pagination {
  font-size: 0;
  line-height: 1; }

.swiper__bullet {
  border: 1px solid #ffffff;
  -webkit-border-radius: 1.6rem;
          border-radius: 1.6rem;
  cursor: pointer;
  display: inline-block;
  height: 1.6rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  vertical-align: top;
  width: 1.6rem; }

.swiper__bullet--active {
  background-color: #ffffff; }

.swiper__figure {
  height: 100%; }

.swiper__figure-img {
  height: 100%;
  left: 50%;
  max-width: inherit;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto; }

.swiper--header {
  height: 69.5rem; }

.footer__title {
  color: #ffba00;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0.8em;
  text-shadow: 1px 2px 2px rgba(0, 4, 2, 0.75); }

.footer__top {
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  padding-top: 2.6rem;
  padding-bottom: 3.4rem; }

.footer__bottom {
  color: #a3a3a3;
  font-family: "Gautami", sans-serif;
  padding-bottom: 3rem;
  padding-top: 2.7rem; }

.footer__bottom-text {
  margin: 0; }

.footer--bg {
  background-color: #282828;
  color: #ffffff; }

.testi {
  background-color: rgba(6, 12, 22, 0.82);
  color: #ffffff;
  font-weight: 300;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 2.3rem 1.5rem 2.3rem 2.5rem;
  width: auto; }
  @media (min-width: 768px) {
    .testi {
      height: 34.5rem;
      width: 37.8rem; } }

.testi__text {
  margin: 0;
  font-size: 0.77778em; }
  .testi__text:before {
    background-image: url(../img/quotes.png);
    content: '';
    display: inline-block;
    height: 3.8rem;
    margin-left: -0.5rem;
    margin-right: 4.5rem;
    width: 4.3rem; }

.testi__large-text {
  display: inline-block;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: -0.3rem;
  vertical-align: middle; }

.testi__footer {
  margin-top: 3.4rem; }

.testi__footer--higher {
  margin-top: 2.3rem; }

.testi__author {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.043em; }

.step {
  position: relative; }

.step__thumbnail {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000402;
  -webkit-border-radius: 20.4rem;
          border-radius: 20.4rem;
  -webkit-box-shadow: -7px -3px 0px 0px rgba(53, 53, 53, 0.96);
          box-shadow: -7px -3px 0px 0px rgba(53, 53, 53, 0.96);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 3.5rem;
  position: relative;
  text-align: center;
  width: 20.4rem; }

.step__thumbnail-img--step-1 {
  margin-left: -1.3rem; }

.step__thumbnail-caption {
  background-color: #dc6411;
  -webkit-border-radius: 7.4rem;
          border-radius: 7.4rem;
  color: #ffffff;
  display: block;
  font-size: 4rem;
  font-weight: 500;
  height: 7.4rem;
  line-height: 7.4rem;
  margin-bottom: -0.5rem;
  margin-right: -1.9rem;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0;
  width: 7.4rem; }

.step__thumbnail-caption--step-1 {
  background-color: #dc6411; }

.step__thumbnail-caption--step-2 {
  background-color: #1a9ddb; }

.step__thumbnail-caption--step-3 {
  background-color: #68a625; }

.step__title {
  color: inherit;
  margin: 0 0 2.5rem; }

.step__text {
  color: #032141;
  padding: 0 3.2rem; }

.step__arrow {
  display: none;
  height: 2.4rem;
  left: 100%;
  position: absolute;
  top: 50%;
  width: 15.6rem; }
  @media (min-width: 1200px) {
    .step__arrow {
      display: block; } }

.step__arrow--step-1 {
  margin-left: 1.6rem;
  margin-top: -5.4rem; }

.step__arrow--step-2 {
  margin-left: 1.3rem;
  margin-top: 0.8rem; }

.step--item-1 {
  color: #dc6411;
  margin-left: -1.5rem; }

.step--item-2 {
  color: #1a9ddb; }

.step--item-3 {
  color: #68a625; }

.tool {
  position: relative;
  text-align: center;
  margin-bottom: 5.5rem; }

.tool__thumbnail {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #68a625;
  -webkit-border-radius: 20.4rem;
          border-radius: 20.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 20.4rem; }

.tool__title {
  margin-bottom: 1.190476em; }

.tool__text-large {
  font-size: 1.166667em;
  font-weight: 500; }

.tool__text-big {
  font-size: 1.555556em;
  font-weight: 500; }

.service {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  text-align: center;
  width: 100%;
  margin-top: 5rem; }
  @media (min-width: 992px) {
    .service {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 0;
      padding-left: 2.1rem;
      text-align: left; } }

.service__thumbnail {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 15.2rem;
          border-radius: 15.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 15.2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 5rem;
  position: relative;
  width: 15.2rem; }
  .service__thumbnail:after {
    border: 1px solid #ffffff;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    content: '';
    display: block;
    height: 100%;
    left: 0.4rem;
    position: absolute;
    top: 0.7rem;
    width: 100%; }
  @media (min-width: 992px) {
    .service__thumbnail {
      margin: 0 2.7rem 0 0; } }

@media (min-width: 992px) {
  .service__thumbnail--image-right {
    margin: 0 0 0 2.7rem; } }

.service__thumbnail--shadow-left:after {
  left: -0.4rem; }

.service__title {
  color: inherit;
  font-size: 3.6rem;
  font-weight: normal;
  margin-bottom: 1.8rem;
  margin-top: -0.5rem;
  text-transform: uppercase; }

@media (min-width: 992px) {
  .service__title--top-offset {
    margin-top: 0.6rem; } }

.service__text {
  color: inherit;
  margin-bottom: 0;
  margin-top: 0; }

@media (min-width: 992px) {
  .service--image-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 1.7rem;
    text-align: right; } }

@media (min-width: 992px) {
  .service--top-offset {
    margin-top: 7.9rem; } }

.page-block__header {
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    .page-block__header {
      margin-bottom: 7.2rem; } }

@media (min-width: 768px) {
  .page-block__header--item-3 {
    margin-bottom: 6.7rem; } }

@media (min-width: 768px) {
  .page-block__header--item-4 {
    margin-bottom: 5.7rem; } }

@media (min-width: 768px) {
  .page-block__header--item-6 {
    margin-bottom: 6.7rem; } }

.page-block__title {
  font-weight: 500;
  text-align: center;
  text-transform: none;
  margin: 0; }

.page-block__title--invert {
  color: #ffffff; }

.page-block__title--normal {
  font-weight: normal; }

.page-block__title--item-5 {
  text-shadow: 1px 2px 2px rgba(0, 4, 2, 0.75);
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-bottom: 2.8rem;
  text-transform: uppercase; }

.page-block__title-big {
  font-size: 1.5em;
  vertical-align: middle; }

.page-block__title-large {
  font-size: 1.145834em;
  font-weight: 500; }

.page-block__subtitle {
  color: inherit;
  font-weight: 400;
  margin: 1.041667em;
  text-align: center;
  text-transform: none; }

.page-block__scroll-button {
  background-color: transparent;
  border: 2px solid #0d2137;
  -webkit-border-radius: 2.444445em;
          border-radius: 2.444445em;
  color: #0d2137;
  display: inline-block;
  font-size: 1.8rem;
  height: 2.444445em;
  line-height: 2.222223em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  vertical-align: top;
  width: 2.444445em; }
  .page-block__scroll-button:hover {
    background-color: #0d2137;
    color: #ffffff; }
  .page-block__scroll-button:before {
    margin: 0; }

.page-block__scroll-button--light {
  background-color: transparent;
  border: 2px solid #c9c9c9;
  color: #c9c9c9; }
  .page-block__scroll-button--light:hover {
    background-color: #c9c9c9;
    color: #ffffff; }

.page-block__scroll-button-wrapper {
  bottom: 2.7rem;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.page-block__scroll-button-wrapper--item-2 {
  bottom: 7.3rem; }

.page-block__bg-layer-1 {
  position: relative; }
  .page-block__bg-layer-1:before {
    background-image: url(../img/line1.png);
    content: '';
    display: none;
    height: 577px;
    left: 50%;
    margin-left: -68px;
    position: absolute;
    top: -52px;
    width: 122px; }
    @media (min-width: 992px) {
      .page-block__bg-layer-1:before {
        display: block; } }

.page-block__bg-layer-2 {
  background-image: url(../img/line2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: none;
  height: 711px;
  left: 50%;
  margin-left: -4.1rem;
  margin-top: -21.2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1566px; }
  @media (min-width: 992px) {
    .page-block__bg-layer-2 {
      display: block; } }

.page-block--item-2 {
  padding-bottom: 6rem;
  padding-top: 6rem;
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .page-block--item-2 {
      margin-bottom: -4rem;
      padding-bottom: 0;
      padding-top: 7.8rem; } }

.page-block--item-3 {
  background-image: url(../img/page-block-bg1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  padding-bottom: 6rem;
  padding-top: 6rem;
  position: relative; }
  .page-block--item-3:before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="150" viewBox="0 0 1920 150"><path class="cls-1" d="M959.938,150L-0.218,0H1920.09Z" fill="%23ffffff" /></svg>');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    content: '';
    display: none;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    @media (min-width: 768px) {
      .page-block--item-3:before {
        display: block; } }
  @media (min-width: 768px) {
    .page-block--item-3 {
      padding-top: 23.7rem;
      padding-bottom: 15rem; } }

.page-block--item-4 {
  padding-bottom: 12rem;
  padding-top: 6rem;
  position: relative; }

.page-block--item-5 {
  padding-bottom: 4.6rem;
  padding-top: 3.2rem; }

.page-block--item-7 {
  padding-bottom: 5.1rem;
  padding-top: 4rem; }

.page-block--bg-1 {
  background-image: url(../img/block-bg1.jpg); }

.page-block--bg-2 {
  background-image: url(../img/block-bg2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff; }

.page-block--bg-3 {
  background-image: url(../img/block-bg3.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 17.2rem;
  padding-top: 6rem;
  position: relative; }

.form {
  position: relative; }

.form__title {
  font-size: 3.6rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-bottom: 1.6rem;
  margin-top: 0;
  text-align: center;
  text-shadow: 3px 4px 10px rgba(0, 4, 2, 0.94);
  text-transform: uppercase; }

@media (min-width: 1299px) {
  .form__title--header {
    margin-left: -4rem;
    margin-right: -4rem; } }

.form__title-glare {
  display: inline-block;
  position: relative;
  vertical-align: top; }
  .form__title-glare:after {
    background-image: url(../img/glare.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    content: '';
    height: 39px;
    position: absolute;
    right: 0;
    top: 1px;
    -webkit-transform: translate(18px, -6px);
        -ms-transform: translate(18px, -6px);
            transform: translate(18px, -6px);
    width: 36px; }

.form__field {
  background-color: #ffffff;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 4, 2, 0.75);
          box-shadow: inset 1px 1px 1px 0px rgba(0, 4, 2, 0.75);
  color: #032141;
  font-family: "GothamPro", sans-serif;
  font-size: 1.3rem;
  line-height: 1em; }
  .form__field + .form__field {
    margin-top: 1.5rem; }

.form__field--footer {
  margin-bottom: 1rem; }

.form__field--tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .form__field--tel:before {
    background-color: #eaeaea;
    content: '';
    height: 100%;
    position: absolute;
    left: 5.2rem;
    width: 2px; }

input.form__input {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.form__input--tel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

input.form__input--code {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 5.3rem; }

.form__arrow {
  display: none;
  left: 7rem;
  margin-top: 2rem;
  position: absolute;
  top: 100%; }
  @media (min-width: 768px) {
    .form__arrow {
      display: block; } }

.form__arrow-img {
  display: inline-block;
  vertical-align: top; }

.form__check-accept {
  margin-top: 1.3rem; }

.form__buttons {
  margin-top: 3.4rem;
  text-align: center; }

.form__checkbox {
  display: none; }

.form__checkbox-label {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 1.285714;
  text-shadow: 0px 1px 2.58px #000402; }
  .form__checkbox-label:before {
    background-color: #ffffff;
    background-repeat: no-repeat;
    -webkit-background-size: 1.2rem auto;
            background-size: 1.2rem auto;
    background-position: 50% 50%;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 4, 2, 0.77) inset;
            box-shadow: 1px 1px 3px 0px rgba(0, 4, 2, 0.77) inset;
    content: '';
    display: inline-block;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    height: 2.2rem;
    margin-right: .9rem;
    vertical-align: top;
    width: 2.2rem; }
    .form__checkbox:checked + .form__checkbox-label:before {
      background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="448.8px" height="448.8px" viewBox="0 0 448.8 448.8" style="enable-background:new 0 0 448.8 448.8;" xml:space="preserve"><polygon points="142.8,323.85 35.7,216.75 0,252.45 142.8,395.25 448.8,89.25 413.1,53.55" fill="%23424242"></polygon></svg>'); }

.form--footer {
  border: 1px solid #ffba00;
  -webkit-border-radius: 0.8rem;
          border-radius: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 86.4rem;
  padding: 3.7rem 4rem 4.4rem; }

.list {
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .list {
      padding: 0 0 0 6.5rem; } }

.list__item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .list__item + .list__item {
    margin-top: 0.6rem; }
  @media (min-width: 768px) {
    .list__item {
      font-size: 3rem;
      line-height: 2.185em; } }

.list__item-icon {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 5.4rem;
          border-radius: 5.4rem;
  -webkit-box-shadow: 3px 4px 0px 0px rgba(0, 4, 2, 0.75);
          box-shadow: 3px 4px 0px 0px rgba(0, 4, 2, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.4rem;
  margin-right: 1.8rem;
  width: 5.4rem; }
  .list__item-icon:before {
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="448.8px" height="448.8px" viewBox="0 0 448.8 448.8" style="enable-background:new 0 0 448.8 448.8;" xml:space="preserve"><polygon points="142.8,323.85 35.7,216.75 0,252.45 142.8,395.25 448.8,89.25 413.1,53.55" fill="%23424242"></polygon></svg>');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 2rem 2rem;
            background-size: 2rem;
    border: 2px solid #404241;
    -webkit-border-radius: 4rem;
            border-radius: 4rem;
    content: '';
    display: inline-block;
    height: 4rem;
    width: 4rem; }

.inline-list {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -0.9rem;
  margin-right: -0.9rem; }

.inline-list__item {
  margin-left: 0.9rem;
  margin-right: 0.9rem; }

.divider--style-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(103, 145, 58, 0)), color-stop(rgba(103, 145, 58, 0.75)), to(rgba(103, 145, 58, 0)));
  background-image: -webkit-linear-gradient(left, rgba(103, 145, 58, 0), rgba(103, 145, 58, 0.75), rgba(103, 145, 58, 0));
  background-image: -o-linear-gradient(left, rgba(103, 145, 58, 0), rgba(103, 145, 58, 0.75), rgba(103, 145, 58, 0));
  background-image: linear-gradient(to right, rgba(103, 145, 58, 0), rgba(103, 145, 58, 0.75), rgba(103, 145, 58, 0));
  height: 1px;
  margin: 2.7rem 0 3.4rem;
  width: 100%; }

.divider--style-2 {
  background: #c8c8c8;
  height: 1px;
  margin: 0.3rem 0 2rem;
  width: 100%; }

.columns {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -1rem;
  margin-right: -1rem; }

.columns__column {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%; }

.columns__column--1-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

@media (min-width: 768px) {
  .columns__column--sm-1-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 768px) {
  .columns__column--sm-2-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; } }

@media (min-width: 768px) {
  .columns__column--sm-1-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 768px) {
  .columns__column--sm-5-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333334%;
        -ms-flex: 0 0 83.333334%;
            flex: 0 0 83.333334%;
    max-width: 83.333334%; } }

@media (min-width: 768px) {
  .columns__column--sm-5-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; } }

@media (min-width: 768px) {
  .columns__column--sm-7-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; } }

.columns__column--xs-offset-top-50 {
  margin-top: 5rem; }
  @media (min-width: 768px) {
    .columns__column--xs-offset-top-50 {
      margin: 0; } }

.columns__column--no-paddings {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 768px) {
  .columns__column--left-gap-25 {
    padding-left: 2.5rem; } }

@media (min-width: 768px) {
  .columns__column--right-gap-25 {
    padding-right: 2.5rem; } }

@media (min-width: 768px) {
  .columns__column--right-gap-5 {
    padding-right: 0.5rem; } }

@media (min-width: 768px) {
  .columns__column--right-gap-3 {
    padding-right: 0.3rem; } }

@media (min-width: 768px) {
  .columns__column--left-gap-4 {
    padding-left: 0.4rem; } }

@media (min-width: 768px) {
  .columns__column--left-gap-7 {
    padding-left: 0.7rem; } }

@media (min-width: 992px) {
  .columns__column--left-gap-70 {
    padding-left: 7rem; } }

.columns--no-margins {
  margin-left: 0;
  margin-right: 0; }

.columns--align-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.columns--align-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.columns--align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.columns--align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.button {
  background: #fda118;
  background: -webkit-linear-gradient(top, #fec521 0%, #fc7f0f 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fec521), to(#fc7f0f));
  background: -o-linear-gradient(top, #fec521 0%, #fc7f0f 100%);
  background: linear-gradient(to bottom, #fec521 0%, #fc7f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec521', endColorstr='#fc7f0f',GradientType=0 );
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 2px 0px white, 0px 2px 0px 0px #b7600d;
          box-shadow: inset 0px 0px 2px 0px white, 0px 2px 0px 0px #b7600d;
  color: #031e3d;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 1;
  padding: 1.7rem 1.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top; }
  .button:before {
    background-image: url(../img/button-glow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%; }
  .button:after {
    background-image: url(../img/glare.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;
    content: '';
    height: 39px;
    position: absolute;
    right: 0;
    top: 1px;
    -webkit-transform: translate(18px, -16px);
        -ms-transform: translate(18px, -16px);
            transform: translate(18px, -16px);
    width: 36px; }
  .button:hover {
    color: #031e3d; }
  @media (min-width: 992px) {
    .button {
      font-size: 2.3rem; } }

@media (min-width: 768px) {
  .button--wide {
    padding-left: 7.3rem;
    padding-right: 7.3rem; } }

.button--large {
  padding-left: 3.7rem;
  padding-right: 3.7rem; }

.button--form {
  margin-top: 4.8rem; }
