// VARIABLES

// Fonts
$font__text: 'Georgia', serif;
$font__title: 'Roboto', sans-serif;

// Colors
$color__primary: #eab96a;
$color__hover: $color__primary;
$color__approve: #6a9c00;
$color__error: #c20000;

$color__decor: #cdb47b;

$color__dark: #000000;
$color__light: #ffffff;

$color__text: #485260;
$color__title: $color__dark;
$color__bg: $color__light;

// Typography

$fz: 1.6rem;
$fz__lh: 1.5em;
$fz__small: 0.8em;

// h1
$h1: 5.75rem;
$h1___small: 3.5rem;
$h1__lh: 0.869565em;

// h2
$h2: 5rem;
$h2___small: 3rem;
$h2__lh: 1em;

// h3
$h3: 3.7rem;
$h3__lh: 1.666667em;

// h4
$h4: 3rem;
$h4__lh: 1.666667em;

// h5
$h5: 2rem;
$h5__lh: 1.428571em;

// h6
$h6: 1.75rem;
$h6__lh: 1.428571em;

$margin: 2.5rem;

// Screen sizes
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1399px;
$screen-xl-min: 1400px;
$main_width: 1040px;