.columns__column {
	box-sizing: border-box;
	min-height: 1px;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}

@import '__column/--xs-1-2';
@import '__column/--sm-1-4';
@import '__column/--sm-3-4';