.search__form {
	position: relative;
	color: $color__light;

	&:before {
		content: '\e804';
		font-family: 'icons';
		// font-size: $fz__small;
		left: 1.5rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}